@import "flex";

@mixin center {
    display: block;
    margin:0 auto;
  }

#place_view {
  max-width:100%;
  .name{
    text-align: center;
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      padding: 0 10vw;
    }
  }

  li {
    list-style: none;
  }

.comments {
    @include center;
    display:block;
    clear:left;
    width:90%;
  }
  .comment {
    li {
      display: inline-block;
    }
  }
  h3 {
    text-align: center;
  }
  form {
    @include center;
    width: 80%;
    .submit {
      @include center;
    }
  }
}
