body {
  background-color: #becbe0;
  background-image: url('images/distracted-studying.jpg');
  color: #4a5059;
}

nav {

}

#quote {
font-style: italic;
font-size: 1.25em;
border-bottom: thick double;
}

.bioimg {
  width: 100%;
  border-radius: 100%;
  img:hover {
=======

    img:hover {
    opacity: .9;
  }
}

figure {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
}


@import "results";

@import "places";
