<h1>About Study Buddy</h1>
<blockquote>
  <p>"When you run into something interesting, drop everything else and study it."</p>
  <p>-B.F. Skinner</p>
</blockquote>

<blockquote id="about">
<p>When you need to get focused, where do you go? Do you need silence or can you zone out in the midst of a flurry of activity? Do you fuel your study sessions with coffee? Where do you go when you need to work with a group?</p>

<p>Does thinking about all of this stress you out? It sounds like you need our wonderful tool, <strong>Study Buddy</strong>!</p>

<p>Study Buddy is a location-based search engine that makes finding a venue for studying and working remotely a simple, streamlined experience. Whether you’re studying for a big exam, perfecting prose in the latest draft of your novel, or just need a change of scenery while working remotely, Study Buddy takes the guesswork out of locating the appropriate space that promotes productivity. Study Buddy provides a customizable experience in which users can target criteria like venue size, noise levels and outlet availability to filter the results found in their area and locate a study venue that best suits their needs.</p>

<p>Now doesn’t that make you feel better about focusing?</p>
</blockquote>

<footer>
  <h3>Study Buddy has been brought to you by:</h3>
  <a href="https://github.com/jcjoneskern">
      <figure>
        <img class="bioimg" src=images/jc.jpg />
        <figcaption><img src="images/githubicon.png" /><span> J-C Jones-Kern</span></figcaption>
      </figure>
      </a>
  <a href="https://github.com/slvaughn7">
        <figure>
          <img class="bioimg" src=images/stephanie.jpg />
          <figcaption><img src="images/githubicon.png" /><span> Stephanie Vaughn</span></figcaption>
        </figure>
        </a>
  <a href="https://github.com/GRMiller">
          <figure>
            <img class="bioimg" src=images/garrett.jpg />
            <figcaption><img src="images/githubicon.png" /><span> Garrett Miller<span></figcaption>
          </figure>
          </a>
</footer>
