<h1>About StudyBuddy</h1>
<blockquote>
  <p>"When you run into something interesting, drop everything else and study it."</p>
  <p>-B.F. Skinner</p>
</blockquote>

<blockquote id="about">
<p>When you need to drop everything and study, where do you go? Do you need silence or can you zone out in the midst of an active area? Do you fuel your study sessions with coffee? Do you prefer to work with a group? Does thinking about all of this stress you out? It sounds like you need our wonderful tool, StudyBuddy!</p>

<p>StudyBuddy is a location-based search engine that makes finding a venue for studying and working remotely a simple, streamlined experience. Whether you’re studying for a big exam, banging away at the draft of a dissertation, or need a change of scenery while working remotely, StudyBuddy takes the guesswork out of locating the appropriate space that promotes productivity. In a uniquely customizable experience, users can target criteria like venue size, noise levels and parking availability and filter the results found in their area to find a study venue that best suits their needs.</p>

<p>Now doesn’t that make you feel better about dropping everything and studying?</p>
</blockquote>

<footer>
  <h3>StudyBuddy has been brought to you by:</h3>
  <a href="https://github.com/jcjoneskern">
      <figure>
        <img class="bioimg" src=images/jc.jpg />
        <figcaption>J-C Jones-Kern</figcaption>
      </figure>
      </a>
  <a href="https://github.com/slvaughn7">
        <figure>
          <img class="bioimg" src=images/stephanie.jpg />
          <figcaption>Stephanie Vaughn</figcaption>
        </figure>
        </a>
  <a href="https://github.com/GRMiller">
          <figure>
            <img class="bioimg" src=images/garrett.jpg />
            <figcaption>Garrett Miller</figcaption>
          </figure>
          </a>
</footer>
