<section id="place_view">
    <section class="name">
      <h2>{{business.name}}</h2>
      <ul>
        <li ng-repeat="category in business.categories">{{category.title}}</li>
      </ul>
      <ul>
        <li>{{business.phone}}</li>
        <li>Open now: {{business.hours[0].is_open_now}}</li>
      </ul>
    </section>

<section id="info">
    <section class="info-obj">
      <img class="bus-img" ng-src="{{business.image_url}}" />
    </section>

    <section class="info-obj map-block">
      <div>
        <p>{{business.location.address1}}</p>
        <p>{{business.location.city}} {{business.location.state}}, {{business.location.zip_code}}</p>
        <div id="map"></div>
        <div id="marker">
          <a id="map_name_container" href="#" ng-click="openInfoWindow($event,marker)">
            <label id="map_name">{{marker.title}}</label>
          </a>
        </div>
      </div>
    </section>

    <section class="info-obj">
      <table>
        <th colspan="3">Hours:</th>
        <tr ng-repeat="hour in hours track by $index">
          <td>
            {{hour.day}}
          </td>
          <td>
            {{hour.start}}
          </td>
          <td>
            {{hour.end}}
          </td>
        </tr>
      </table>
    </section>

  <section class="info-obj">
    <table>
      <th colspan="2">Details:</th>
      <tr>
        <td>Price:</td>
        <td>{{business.price}}</td>
      </tr>
      <tr>
        <td>Noise:</td>
        <td>{{ratings.noise}}</td>
      </tr>
      <tr>
        <td>Crowd:</td>
        <td>{{ratings.crowd}}</td>
      </tr>
      <tr>
        <td>Outlets:</td>
        <td>{{ratings.outlets}}</td>
      </tr>
      <tr>
        <td>Good for groups:</td>
        <td>{{ratings.groups}}</td>
      </tr>
    </table>
</section>


  <section class="comments" ng-controller="displayCommentsCtrl">
    <h2>Comments:</h2>
    <div class="comment" ng-repeat="comment in comments">
      <comments-section></comments-section>
    </div>
  </section>

  <section id="form-section">
    <h3>Leave a rating for {{business.name}}!</h3>
    <business-form></business-form>
  </section>
</section>
