<div id="place_view">

  <section id="business">
    <img id="bz_img"ng-src="{{business.image_url}}" />
      <div class="clearfix"></div>

    <div id="bz_information">
      <h2 id="bz_name">{{business.name}}</h2>

      <span id="bz_categories" ng-repeat="category in business.categories">
        {{category.title}}
      </span>

    <div id="location">
      <div id="address">
        <p id="bz_address">{{business.location.address1}}</p>
        <span id="bz_city">{{business.location.city}}</span>
        <span id="bz_state">{{business.location.state}}</span>
        <span id="bz_zipcode">{{business.location.zip_code}}</span>
      </div>

      <div ng-controller="mapCtrl">
        <div id="map"></div>
        <div id="marker">
          <a id="map_name_container" href="#" ng-click="openInfoWindow($event,marker)">
            <label id="map_name">{{marker.title}}</label>
          </a>
        </div>
      </div>
    </div>
    <p id="bz_phone">{{business.phone}}</p>

    <p>Open now: {{business.hours[0].is_open_now}}</p>
      <table>
        <tr ng-repeat="hour in hours track by $index">
          <td>
            {{hour.day}}
          </td>
          <td>
            {{hour.start}}
          </td>
          <td>
            {{hour.end}}
          </td>
        </tr>
      </table>
    </div>
  </section>



  <section id='bz_details'>
    <p>Details:</p>
    <ul>
      <li>Price: {{business.price}}</li>
      <!-- <li>Wifi</li>
      <li>Parking</li>
      <li>Food</li> --><!-- anything in a food category -->
      <!-- from reviews, ranking 1-5, avg of everyone's -->
      <li>Noise level: {{ratings.noise}}</li>
      <li>Crowd size: {{ratings.crowd}}</li>
      <li>Size: {{ratings.size}}</li>
      <li>Outlets: {{ratings.outlets}}</li>
      <li>Good for groups: {{ratings.groups}}</li>
    </ul>
  </section>



  <section class="comments" ng-controller="displayCommentsCtrl">
    <h2>Comments:</h2>
    <div ng-repeat="comment in comments">
      <comments-section></comments-section>
    </div>
  </section>



  <section>
    <!-- Maybe make this a link to a different view or have a modal or something? -->
    <p>Leave a rating for {{business.name}}!</p>
    <business-form></business-form>
  </section>
</div>
