<h1>Business Details</h1>
<section>
  <img ng-src="{{business.image_url}}" />
  <p>Name: {{business.name}}</p>
  <p>Location: {{business.location}}</p>
  <p>Phone number: {{business.phone}}</p>
  <p>Hours: {{business.hours.open}}</p> <!--open now?-->
</section>
<section>
  <p>Details:</p>
  <ul>
    <!-- from yelp, boolean. they might not provide as much info as we had hoped... -->
    <li>Price: {{business.price}}</li>
    <li>Wifi</li>
    <li>Parking</li>
    <li>Live music</li> <!--not actually sure if yelp has this -->
    <li>Food</li> <!-- anything in a food category -->
    <!-- from reviews, ranking 1-5, avg of everyone's -->
    <li>Noise level</li>
    <li>Crowd size</li>
    <li>Size</li>
    <li>Outlets</li>
    <li>Food</li>
    <li>Good for groups</li>
  </ul>
</section>
<section ng-controller="displayCommentsCtrl">
  Comments:
  <div ng-repeat="comment in comments">
    <!-- should this display each individual reviewer's numerical ratings too?
   if so, this might need to be a custom directive-->
    {{comment}}
  </div>
</section>

<section>
  <!-- Maybe make this a link to a different view or have a modal or something? -->
  <p>Leave a rating for {{business.name}}!
  <form ng-controller="getCommentsCtrl">
    <label>Noise Level:
      <p>
        <input type="radio" ng-model="reviews.ratings.noise" name="noiselevel" value="1">
        <input type="radio" ng-model="reviews.ratings.noise" name="noiselevel" value="2">
        <input type="radio" ng-model="reviews.ratings.noise" name="noiselevel" value="3">
        <input type="radio" ng-model="reviews.ratings.noise" name="noiselevel" value="4">
        <input type="radio" ng-model="reviews.ratings.noise" name="noiselevel" value="5">
      </p>
    </label>
    <label>Crowd size:
      <p>
        <input type="radio" ng-model="reviews.ratings.crowd" name="crowdsize" value="1">
        <input type="radio" ng-model="reviews.ratings.crowd" name="crowdsize" value="2">
        <input type="radio" ng-model="reviews.ratings.crowd" name="crowdsize" value="3">
        <input type="radio" ng-model="reviews.ratings.crowd" name="crowdsize" value="4">
        <input type="radio" ng-model="reviews.ratings.crowd" name="crowdsize" value="5">
      </p>
    </label>
    <label>Building size:
      <p>
        <input type="radio" ng-model="reviews.ratings.size" name="buildingsize" value="1">
        <input type="radio" ng-model="reviews.ratings.size" name="buildingsize" value="2">
        <input type="radio" ng-model="reviews.ratings.size" name="buildingsize" value="3">
        <input type="radio" ng-model="reviews.ratings.size" name="buildingsize" value="4">
        <input type="radio" ng-model="reviews.ratings.size" name="buildingsize" value="5">
      </p>
    </label>
    <label>Outlet availability:
      <p>
        <input type="radio" ng-model="reviews.ratings.outlets" name="outlets" value="1">
        <input type="radio" ng-model="reviews.ratings.outlets" name="outlets" value="2">
        <input type="radio" ng-model="reviews.ratings.outlets" name="outlets" value="3">
        <input type="radio" ng-model="reviews.ratings.outlets" name="outlets" value="4">
        <input type="radio" ng-model="reviews.ratings.outlets" name="outlets" value="5">
      </p>
    </label>
    <label>Space for groups:
      <p>
        <input type="radio" ng-model="reviews.ratings.groups" name="groups" value="1">
        <input type="radio" ng-model="reviews.ratings.groups" name="groups" value="2">
        <input type="radio" ng-model="reviews.ratings.groups" name="groups" value="3">
        <input type="radio" ng-model="reviews.ratings.groups" name="groups" value="4">
        <input type="radio" ng-model="reviews.ratings.groups" name="groups" value="5">
      </p>
    </label>
    <div id="comment_field">
      <input type="text" name="userName" ng-model="reviews.username" placeholder="Your Name" />
      <textarea cols="60" rows="15" placeholder="Leave a comment or review!" ng-model="reviews.comments"></textarea>
      <input type="submit" ng-click="receiveComments(reviews)">
    </div>
  </form>
</section>
